body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

#carouselContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60vh; 
}

.carousel {
    max-width: 50%; 
    max-height: 50%; 
}

img {
    border-radius:50%;
}

